name: Security

on:
  pull_request:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
  depscan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: 'fs'
          severity: 'CRITICAL,HIGH'
